server:
  port: 8080

spring:
  application:
    name: tracker-backend

  datasource:
    url: jdbc:postgresql://localhost:5454/tracker_db
    username: tracker
    password: tracker
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC
  flyway:
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

app:
  security:
    jwt:
      secret: ${JWT_SECRET:change-me-please-change-me-please-change-me-please}
      issuer: tracker-backend
      access-token-minutes: 1440